<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Chefs</title>
</head>
<body>
    @model List<Chef>
    <h1>Chefs | <a href="dishes">Dishes</a></h1>
    <a style="float: right;" href="new">New Chef</a></h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Number of Dishes</th>
    </tr>
  </thead>
  <tbody>

      @foreach (var c in Model)
      {  
            var age = DateTime.Today.Year - c.DateOfBirth.Year;
            <tr>
            <td>@c.ChefName</td>
            <td>@age</td>
            <td>@c.Dishes.Count</td>
          </tr>
      }

  </tbody>
</table>
</body>
</html>