<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Chef</title>
</head>
<body>
    @model Chef

    <h1>Add A Chef</h1>
    <a style="float: right;" href="/">Home</a></h1>
    <form action="/new" method="post" class="contain">
        <div class="form-group">
            <span asp-validation-for="ChefName"></span>
            <label asp-for="ChefName">Chef Name: </label>
            <input asp-for="ChefName">
        </div>

        <div class="form-group">
            <span asp-validation-for="DateOfBirth"></span>
            <label asp-for="DateOfBirth">Date Of Birth: </label>
            <input type="date" asp-for="DateOfBirth">
        </div>
        
        <button class="btn btn-primary">Add Chef</button>
    </form>
    
</body>
</html>