<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dishes</title>
</head>
<body>
    @model List<Dish>
    <h1><a href="/">Chefs</a> | Dishes</h1>
    <a style="float: right;" href="/dishes/new">New Dish</a></h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Chef</th>
      <th scope="col">Tastiness</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>
  <tbody>

      @foreach (var dish in Model)
      {  
            <tr>
            <td>@dish.DishName</td>
            <td>@dish.Chef.ChefName</td>
            <td>@dish.Tastiness</td>
            <td>@dish.Calories</td>
          </tr>
      }

  </tbody>
</table>
</body>
</html>